{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    
   
  

    {% include 'nav.html.twig' %}
            {#  HOME-CONTAINER #}
    <div class="home-container">
    <div class="container-fluid">
        <div class="row row-margin vh-100 d-flex align-items-center justify-content-start">
        
            <div class="info-box col-12 col-md-11 ">

                    {# INFOBOX-START #}

                <div class="title-box drop-in">
                    <h2 class="info-title header drop-in">COMING SOON...</h2>
                </div>

                <div class="text-box drop-in-2 ">
                    <p class="mx-0" style="margin-bottom: 0;">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                
                <div class="timer-box d-flex align-items-center justify-content-around drop-in-3 ">
                    <div class="time-box text-center">
                        <p class="timer-number">00</p>
                        <p class="timer-text">d</p>
                    </div>
                    <div class="time-box text-center m-4">
                        <p class="timer-number">00</p>
                        <p class="timer-text">h</p>
                    </div>
                    <div class="time-box text-center m-1">
                        <p class="timer-number">00</p>
                        <p class="timer-text">m</p>
                    </div>
                    <div class="time-box text-center m-4">
                        <p class="timer-number">00</p>
                        <p class="timer-text">s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="home-container-2">
        <div class="container-fluid">
            <div class="row d-flex vh-100 align-items-start justify-content-center">
            <h2 class="info-title text-center mt-5">SHOP</h2>
                <div class="col-12 col-md-6 d-flex align-items-start justify-content-center">
                    <div class="card mt-5">
                        <img class="img" src="/assets/img/drink.png" alt="">
                        <h3 class="text-center">15€</h3>
                        <ul>
                            <li>
                                <p>Accesso alla festa</p>
                            </li>
                            <li>
                                <p>1 Drink</p>
                            </li>
                            <li>
                                <p>1 Shot</p>
                            </li>
                        </ul>
                        <a href="" class="card-btn">Acquista</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-start justify-content-center">
                    <div class="card mt-5">
                        <img class="img" src="/assets/img/drink.png" alt="">
                        <h3 class="text-center">20€</h3>
                        <ul>
                            <li>
                                <p>Accesso alla festa</p>
                            </li>
                            <li>
                                <p>2 Drink</p>
                            </li>
                            <li>
                                <p>2 Shot</p>
                            </li>
                        </ul>
                        <a href="" class="card-btn">Acquista</a>
                    </div> 
                </div>
            </div>
         </div>
    </div>
{% include 'footer.html.twig' %}
<script>




</script>
    
            



    

 

{% endblock %}



        
