{% extends 'base.html.twig' %}

{% block title %}Hello LogRegController!{% endblock %}

{% block body %}

<a class="btn btn-primary" href="http://party_app.copiaincolla/login" role="button">Login</a>

<a class="btn btn-primary" href="http://party_app.copiaincolla/register" role="button">register</a>

{% endblock %}
