{% extends 'base.html.twig' %}


{% block title %}Hello UserController!{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}

<div class="container-fluid vh-100 bg-danger mt-5">
    <h2>ciao {{app.user.nome}}</h2>
</div>




{% endblock %}


